@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glassmorphism{
        backdrop-filter: blur(10px) saturate(125%);
        -webkit-backdrop-filter: blur(10px) saturate(125%);
        background-color: rgba(255, 255, 255, 0.82);
    }

    .svg-bg{
        background-image: url('./logos/ing_leon.svg');
        background-repeat: repeat;
        background-size: 100px 100px; /* Ajusta el tamaño de la imagen */
        background-position: center;
    }

}